# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK19.22
# Purpose : access gpu hal
hal_client_domain(priv_app, hal_gpu)

# Date : WK19.46
# Purpose : access cta prop
get_prop(priv_app, mtk_cta_set_prop)